[submodule "src/github.com/jmoiron/sqlx"]
	path = src/vendor/github.com/jmoiron/sqlx
	url = https://github.com/jmoiron/sqlx.git
[submodule "src/github.com/mattn/go-sqlite3"]
	path = src/vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "src/vendor/github.com/julienschmidt/httprouter"]
	path = src/vendor/github.com/julienschmidt/httprouter
	url = https://github.com/julienschmidt/httprouter.git
[submodule "src/vendor/github.com/pelletier/go-toml"]
	path = src/vendor/github.com/pelletier/go-toml
	url = https://github.com/pelletier/go-toml.git
